@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components{
  .input-field{
    @apply pl-10
  }
}


:root{
  font-family: 'Roboto Condensed', sans-serif;

  }
body{
    background-color: white;
  }
li{
    list-style: none;
    cursor: pointer;
    position: relative;
  }
li:hover::before{
    position: absolute;
    content: '';
    height: 4px;
    width: 100%; 
    background-color: #2a68ff;
    right: 0;
    bottom: 5px ;
    color: #2a68ff ;
}
.max-w-7xl {
  margin-top:5rem;
}
.box {
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  align-content: space-between;
}